.board-title {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  background: #3c3c3c;
  border-bottom: 2px solid #a1c4cf;
  color: white;
}
.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  border-color: #3c3c3c;
}

.input {
  padding: 0.5rem 1rem;
  outline: none;
  height: 250px;
  border-radius: 25px;
  width: 350px;
  margin: 0.25rem;
  transition: 0.5s;
  font-size: 1.15rem;
}

.add {
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 50px;
  background-color: #a1c4cf;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin: 0.25rem;
}

.add:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.item {
  padding: 0.5rem;
  border-bottom: 4px solid #3c3c3c;
  margin-bottom: 1px;
}

.item_input {
  background: none;
  outline: none;
  border: none;
  color: #3c3c3c;
  font-size: 1.2rem;
  width: 100px;
}

.수정 {
  background: none;
  outline: none;
  border: none;
  color: #a1c4cf;
  font-size: 1.2rem;
  font-family: "Hind", sans-serif;
  margin: 0 0.5rem;
  cursor: pointer;
}

.삭제 {
  background: none;
  outline: none;
  border: none;
  color: #3c3c3c;
  font-size: 1.2rem;
  font-family: "Hind", sans-serif;
  cursor: pointer;
}
